{% extends "news/base.html" %}
{% block content %}


<div class="content">
    <div class="container">
        <div class="panel widget">
            <div class="panel-body text-center pt-5">
                <i class="fas fa-sign-out-alt" style="font-size: 200px;">
                </i>
                <h1 class="font-semibold" style="font-size:52px">You Have Been Signed Out</h1>

                <h4 class=" mgbt-xs-20">Thank you for using our website</h4>
                <p class=""> Please <a href="/login">click here</a> to login back
                    to our site</p>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock content %}